h1{
  background-color: #ffe4e1;
  text-align: center;
}
.heart {
  background-color: red;
  display: inline-block;
  height: 300px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute; 
  left: 45%; top: 45%;
  width: 300px;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 300px;
  position: absolute;
  width: 300px;
}

.heart:before {
  top: -150px;
  left: 0;
}

.heart:after {
  left: 150px;
  top: 0;
}

.heart:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.4s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}

@-webkit-keyframes Background {
    0% {background-color: crimson;}
    20% {background-color: orange;}
    40% {background-color: goldenrod;}
    60% {background-color: coral;}
    80% {background-color: pink;}
    100% {background-color: purple}
}

@keyframes jump{
  0% {top: 200px;}
  20% {left: 100px;}
  60% {bottom: 200px;}
  80% {right: 100px;}
  100% {bottom: 200px;}
}
div{
  animation-name: jump;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  background-color: pink;
  position: absolute;
}